.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .time-control {
    width: 50%;
    display: flex;

    input {
      width: 100%;
    }
  }

  .controls {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .player {
    .time-control {
      width: 90%;
    }

    .controls {
      width: 60%;
    }
  }
}
